{% extends "questionnaire_base.html" %}
{% load static %}


{% block contentInHead %}
{% endblock %}

{% block questionnaireContent %}
<div class="container">
    <div class="row">
        <form name='myform'  method="GET">
            <div class="row">
                <div class="col-10 form-group">
                    <label class="custom-label custom-label-lg" for="stockpicker"> <h4>Pick a stock bro </h4> </label>
                    <select class="browser-default  custom-select custom-select-lg " name="stockpicker" id="stockpicker" >
                        {% for a_stock in stock_list %}
                           <option >{{a_stock}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-10 form-group" hidden>
                    <label class="custom-label custom-label-lg" for="strategypicker">Pick a stock bro</label>
                    <select class="browser-default  custom-select custom-select-lg " name="strategypicker" id="strategypicker" >
                        {% for a_stock in stock_list %}
                           <option >{{a_stock}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-12">
                    <div class="btn-group btn-group">
                        <button class= "btn" type="submit" name="action" value="smawma_result" formaction="{% url 'adviser:smawma_result' %}" >smawma</button>
                        <button class= "btn" type="submit" name="action" value="bbandma_result" formaction="{% url 'adviser:bbandma_result' %}">bbandma</button>
                        <button class= "btn" type="submit" name="action" value="r_strategy_result" formaction="{% url 'adviser:r_strategy_result' %}">r_strategy_result</button>
                        <button class= "btn" type="submit" name="action" value="macd_result" formaction="{% url 'adviser:macd_result' %}">macd_result</button>
                        <button class= "btn" type="submit" name="action" value="rsi_result" formaction="{% url 'adviser:rsi_result' %}">rsi_result</button>
                        <button class= "btn" type="submit" name="action" value="macd_plot_result" formaction="{% url 'adviser:macd_plot_result' %}">macd_plot_result</button>
                        <button class= "btn" type="submit" name="action" value="rsi_plot_result" formaction="{% url 'adviser:rsi_plot_result' %}">rsi_plot_result</button>

                    </div>
                </div>


            </div>
        </form>
    </div>
    <div class="row" id="line_fig">

    </div>
</div>

</div>

{% endblock %}

{% block contentJS %}
    <script>

        //solve the thing that Disabled form elements are not sent by the form.
        //$(':disabled').each(function(){
        //    $(this).after('<input type="hidden" name="' + $(this).attr('name') + '" value="' + $(this).val() + '" />');
        //});

        //開啟的時候就先畫圖
        $(document).ready(function(){
            var endpoint = 'api/chart/data'
            var articleData =  articleLabels = []
            $.ajax({
                method:"GET",
                url:endpoint,
                data:{
                    user_picked: $('#stockpicker').val()
                },
                success:function(data){
                    articleLabels = data.article_labels;
                    articleData = data.article_data;
                    prepareChart();

                },
                error:function(e){
                    alert(e);
                }
            });
            function prepareChart(){
                var trace1 = {
                    mode: 'lines',
                    x: articleData,
                    y: articleLabels,

                };
                var data = [ trace1 ];

                var layout = {
                  title:$('#stockpicker').val()
                };

                Plotly.newPlot('line_fig', data, layout);
            };
        });

        //換標的的時候畫圖
        $('#stockpicker').change(function(){

            var endpoint = 'api/chart/data'
            var articleData =  articleLabels = []

            $.ajax({
                method:"GET",
                url:endpoint,
                data:{
                    user_picked: $('#stockpicker').val()
                },
                success:function(data){
                    articleLabels = data.article_labels;
                    articleData = data.article_data;
                    prepareChart();

                },
                error:function(e){
                    console.log(e);
                }
            });

            function prepareChart(){
                var trace1 = {
                    mode: 'lines',
                    x: articleData,
                    y: articleLabels,

                };
                var data = [ trace1 ];

                var layout = {
                  title:$('#stockpicker').val()
                };

                Plotly.newPlot('line_fig', data, layout);
            };
        });
    </script>

{% endblock %}


