{% extends "questionnaire_base.html" %}


{% block questionnaireContent %}
<div class="container">
    <form name='myform' action= "{% url 'adviser:start' %}" method="GET">
        <label for="stockpicker">Pick a stock bro</label>
        <select name="stockpicker" id="stockpicker" >
            <option >2330.TW</option>
            <option >2207.TW</option>
            <option >0050.TW</option>
        </select>


        <input class= "btn" type="submit" value="enter">
        <input class= "btn" type="reset" value="reset">
    </form>
</div>


{% endblock %}


