{% extends "base.html" %}

{% load static %}

{% block contentInHead %}

  <!-- Bootstrap for this one -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <!-- Custom styles for this template -->


{% endblock %}

{%block contentInBody%}
  <!--such a fucking weird thing that this link has to put it in here that it will work -->
  <link href="{% static 'css/simple-sidebar.css'%}" rel="stylesheet">
  <div class="d-flex" id="wrapper">


    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><h3>Welcome Dude</h3> </div>
      <div class="list-group list-group-flush">
        <a href="{% url 'questionnaire:start' %}" class="list-group-item list-group-item-action bg-light">start</a>
        <a href="{% url 'questionnaire:singleStrategyForm' %}" class="list-group-item list-group-item-action bg-light">single target strategy</a>
        <a href="{% url 'questionnaire:multiStrategyForm' %}" class="list-group-item list-group-item-action bg-light">multiStrategyForm</a>

        <a href="{% url 'questionnaire:form2' %}" class="list-group-item list-group-item-action bg-light">test form for the future</a>

      </div>
    </div>


    <div id="page-content-wrapper">
      <div class="container-fluid">
    {% block questionnaireContent%}

    {% endblock %}
      </div>
    </div>



  </div>
{% endblock %}




<!--{% block contentJS %}-->
<!--  &lt;!&ndash; Menu Toggle Script &ndash;&gt;-->
<!--  <script>-->
<!--    $("#menu-toggle").click(function(e) {-->
<!--      e.preventDefault();-->
<!--      $("#wrapper").toggleClass("toggled");-->
<!--    });-->
<!--  </script>-->


<!--{% endblock %}-->
