{% extends "adviser_base.html" %}


{% block resultContent %}
<div class="container">
    <form name='myform'  method="GET">
        <label for="stockpicker">Pick a stock bro</label>
        <select name="stockpicker" id="stockpicker" >
            <option value= "{{selected_stock}}" selected>{{selected_stock}}</option>
            {% for a_stock in stock_options %}
            <option value={{ a_stock }}>{{ a_stock }}</option>
            {% endfor %}
        </select>
        <button type="submit" name="action" value="smawma" formaction="{% url 'adviser:strategy_smawma' %}" >smawma</button>
        <button type="submit" name="action" value="strategy_bbandma" formaction="{% url 'adviser:strategy_bbandma' %}">bbandma</button>
        <input type="reset" value="reset">
    </form>
</div>


{% endblock %}